# .gitignore for Grails 1.2 and 1.3
# Although this should work for most versions of grails, it is
# suggested that you use the "grails integrate-with --git" command
# to generate your .gitignore file.

# web application files
/web-app/WEB-INF/classes

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release files
/*.zip
/plugin.xml

# older plugin install locations
/plugins
/web-app/plugins


# ".DS_Store" files
*.DS_Store
*/*.DS_Store

*.class
*.log
*.iws
*.ser
*.bak
*.ids
*.jasper
workspace.xml
.classpath
.project
*.userlibraries
*.eml
*.swp
*.tmp
devDb.*
Thumbs.db
plugin.xml
.sonar/
.settings/
/*-config.groovy
testorder.txt

# These are regenerated each time you run grails upgrade
web-app/css/main.css
web-app/css/mobile.css

/*/tomcat.8080
/target
**/logs
/build
/reports
/.gradle
*.iml
*.ipr
/.idea
.grails*
**/target
out/

**/web-app/WEB-INF/tld/c.tld
**/web-app/WEB-INF/tld/fmt.tld
**/web-app/WEB-INF/atmosphere-decorators.xml