
a {
    color: #336699;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #dddddd;
    text-decoration: underline;
}

table thead tr th,
table tfoot tr th {
    text-align: center;
    background-color: #8C8C8C;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #3D3D3D;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #2B2B2B;
}

table tr th,
table tr td{
    padding-left: 5px;
    padding-right: 5px;
}

html,
body {
    height: 100%;
}

body {
    color: #fff;
    /*background: #222 url("../images/Background.png") repeat center fixed;*/
    background-color: #222;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.panel-mini {
    margin-bottom: 20px;
    color: #000;
    background-color: #e0e0e0;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-default {
    border-color: #ddd;
    color: #222;
    background-color: #e0e0e0;
    text-shadow: 0 0 0 rgba(0,0,0,.5);
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #d5d5d5;
    border-color: #ddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}
.panel-default > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ddd;
}

.panel-home {
    border-color: #555;
    color: #f5f5f5;
    text-align: left;
    background-color: #383838;
}
.panel-home > .panel-heading {
    text-align: center;
    color: #f5f5f5;
    background-color: #383838;
    border-color: #555;
}
.panel-home > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #555;
}
.panel-home > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #555;
}
.panel-home > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #555;
}


.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #000;
    text-align: center;
    background-color: #ffffff;
    border-radius: 4px;
    white-space:pre-wrap;
}


.ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1050;
}

.ribbon {
    font: bold 15px Sans-Serif;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    color: whitesmoke;
    background-color: #000080;
. box-shadow(0 0 3 px rgba(0, 0, 0, 0.3));
}
.ribbon:before, .ribbon:after {
        content: "";
        border-top: 3px solid #000066;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        position: absolute;
        bottom: -3px;
    }

.ribbon:before {
    left: 0;
}
.ribbon:after {
    right: 0;
}

.alert{
    text-shadow: 0 0 0;
}

